.criteria {}

.priority-counts {
  list-style-type: none;
  padding-left: 0;
}

.priority-count {
  color: white;
  display: inline-block;
  font-weight: bold;
  padding: 5px;
}

.priority-count + .priority-count {
  margin-left: 5px;
}

.priority-count.high {
  background-color: red;
}
.priority-count.medium {
  background-color: orange;
}
.priority-count.low {
  background-color: green;
}
.priority-count.total {
  background-color: #bbb;
  color: black;
}
