.app { }

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

main {
  margin: 0 1%;
}

footer {
  background-color: #222;
  color: white;
  margin-top: 2em;
  padding: 1em 1%;
}

footer a { color: #999; }

.checks-remaining {
  border-collapse: collapse;
}

.checks-remaining caption {
  font-size: 1.5em;
  font-weight: bold;
}

.checks-remaining th,
.checks-remaining td { padding: 5px; }

.checks-remaining thead {
  background-color: #222;
  color: white;
  text-align: right;
}

.checks-remaining tbody { text-align: right; }

.checks-remaining td.high {
  background-color: red;
  color: white;
}
.checks-remaining td.medium {
  background-color: orange;
  color: white;
}
.checks-remaining td.low {
  background-color: green;
  color: white;
}
.checks-remaining td.total {
  background-color: #bbb;
  color: black;
}

.checks-remaining tfoot {
  background-color: #222;
  color: white;
  text-align: right;
}
