.app { }

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
  margin-bottom: 1em;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-summary {
  margin: 0 1%;
}

main {
  margin: 0 1%;
}

@media screen and (min-width: 75rem) {
  .app-header {
    position: sticky;
    top: 0;
  }
  .main-summary {
    position: fixed;
    width: 30%;
  }
  .checks-remaining {
    margin: 0 0 0 auto;
  }
  main {
    margin: 0 1% 0 34%;
    width: 65%;
  }
}

footer {
  background-color: #222;
  color: white;
  margin-top: 2em;
  padding: 1em 1%;
}

footer a { color: #999; }

.checks-remaining {
  border-collapse: collapse;
}

.checks-remaining caption {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.2em;
  text-align: left;
}

.checks-remaining th,
.checks-remaining td { padding: 5px; }

.checks-remaining thead {
  background-color: #222;
  color: white;
  text-align: right;
}

.checks-remaining tbody { text-align: right; }

.checks-remaining td.high {
  background-color: red;
  color: white;
}
.checks-remaining td.medium {
  background-color: orange;
  color: white;
}
.checks-remaining td.low {
  background-color: green;
  color: white;
}
.checks-remaining td.total {
  background-color: #bbb;
  color: black;
}
.checks-remaining td.checkmark {
  color: green;
  line-height: 1;
  text-align: center;
  width: 1rem;
}

.checks-remaining tfoot th,
.checks-remaining tfoot td {
  background-color: #222;
  color: white;
  text-align: right;
}

.checks-remaining tfoot .checkmark {
  background-color: transparent;
}
